In [2]:
import pandas as pd
from ast import literal_eval

In [3]:
df = pd.read_csv("/Users/ishitagopal/Box/the-movies-dataset/credits.csv")

In [3]:
df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
df.shape

(45476, 3)

In [5]:
# example 
literal_eval(df['cast'][1])

[{'cast_id': 1,
  'character': 'Alan Parrish',
  'credit_id': '52fe44bfc3a36847f80a7c73',
  'gender': 2,
  'id': 2157,
  'name': 'Robin Williams',
  'order': 0,
  'profile_path': '/sojtJyIV3lkUeThD7A2oHNm8183.jpg'},
 {'cast_id': 8,
  'character': 'Samuel Alan Parrish / Van Pelt',
  'credit_id': '52fe44bfc3a36847f80a7c99',
  'gender': 2,
  'id': 8537,
  'name': 'Jonathan Hyde',
  'order': 1,
  'profile_path': '/7il5D76vx6QVRVlpVvBPEC40MBi.jpg'},
 {'cast_id': 2,
  'character': 'Judy Sheperd',
  'credit_id': '52fe44bfc3a36847f80a7c77',
  'gender': 1,
  'id': 205,
  'name': 'Kirsten Dunst',
  'order': 2,
  'profile_path': '/wBXvh6PJd0IUVNpvatPC1kzuHtm.jpg'},
 {'cast_id': 24,
  'character': 'Peter Shepherd',
  'credit_id': '52fe44c0c3a36847f80a7ce7',
  'gender': 0,
  'id': 145151,
  'name': 'Bradley Pierce',
  'order': 3,
  'profile_path': '/j6iW0vVA23GQniAPSYI6mi4hiEW.jpg'},
 {'cast_id': 10,
  'character': 'Sarah Whittle',
  'credit_id': '52fe44bfc3a36847f80a7c9d',
  'gender': 1,
  'id': 5149,
  'name': 'Bonnie Hunt',
  'order': 4,
  'profile_path': '/7spiVQwmr8siw5QCcvvdRG3c7Lf.jpg'},
 {'cast_id': 25,
  'character': 'Nora Shepherd',
  'credit_id': '52fe44c0c3a36847f80a7ceb',
  'gender': 1,
  'id': 10739,
  'name': 'Bebe Neuwirth',
  'order': 5,
  'profile_path': '/xm58rpMRVDHS0IGttw1pTlqGwkN.jpg'},
 {'cast_id': 26,
  'character': 'Carl Bentley',
  'credit_id': '52fe44c0c3a36847f80a7cef',
  'gender': 2,
  'id': 58563,
  'name': 'David Alan Grier',
  'order': 6,
  'profile_path': '/5tkt3qRZTco4sz604aTIarQ0m8W.jpg'},
 {'cast_id': 11,
  'character': 'Carol Anne Parrish',
  'credit_id': '52fe44bfc3a36847f80a7ca1',
  'gender': 1,
  'id': 1276,
  'name': 'Patricia Clarkson',
  'order': 7,
  'profile_path': '/10ZSyaUqzUlKTd60HmeiGhlytZG.jpg'},
 {'cast_id': 14,
  'character': 'Alan Parrish (young)',
  'credit_id': '52fe44bfc3a36847f80a7cad',
  'gender': 0,
  'id': 46530,
  'name': 'Adam Hann-Byrd',
  'order': 8,
  'profile_path': '/hEoqDqtMO91hYWD5iDrDesnLDlt.jpg'},
 {'cast_id': 13,
  'character': 'Sarah Whittle (young)',
  'credit_id': '52fe44bfc3a36847f80a7ca9',
  'gender': 1,
  'id': 56523,
  'name': 'Laura Bell Bundy',
  'order': 9,
  'profile_path': '/8tAVDBRoZPjKfCbBDyh4iK9JNEp.jpg'},
 {'cast_id': 31,
  'character': 'Exterminator',
  'credit_id': '52fe44c0c3a36847f80a7cff',
  'gender': 2,
  'id': 51551,
  'name': 'James Handy',
  'order': 10,
  'profile_path': '/vm0WQmuP8jEGgFTd3VCcJe7zpUi.jpg'},
 {'cast_id': 12,
  'character': 'Mrs. Thomas the Realtor',
  'credit_id': '52fe44bfc3a36847f80a7ca5',
  'gender': 1,
  'id': 56522,
  'name': 'Gillian Barber',
  'order': 11,
  'profile_path': '/qoqPX15J5jh6Sy0A9JvvRJIuw64.jpg'},
 {'cast_id': 28,
  'character': 'Benjamin',
  'credit_id': '52fe44c0c3a36847f80a7cf3',
  'gender': 2,
  'id': 1000304,
  'name': 'Brandon Obray',
  'order': 12,
  'profile_path': None},
 {'cast_id': 29,
  'character': 'Caleb',
  'credit_id': '52fe44c0c3a36847f80a7cf7',
  'gender': 0,
  'id': 188949,
  'name': 'Cyrus Thiedeke',
  'order': 13,
  'profile_path': None},
 {'cast_id': 30,
  'character': 'Billy Jessup',
  'credit_id': '52fe44c0c3a36847f80a7cfb',
  'gender': 0,
  'id': 1076551,
  'name': 'Gary Joseph Thorup',
  'order': 14,
  'profile_path': None},
 {'cast_id': 32,
  'character': 'Cop',
  'credit_id': '5588053fc3a36838530063f5',
  'gender': 0,
  'id': 1480246,
  'name': 'Leonard Zola',
  'order': 15,
  'profile_path': None},
 {'cast_id': 33,
  'character': 'Bum',
  'credit_id': '55935687925141645a002097',
  'gender': 2,
  'id': 25024,
  'name': 'Lloyd Berry',
  'order': 16,
  'profile_path': '/s7SVCOtvcuQ9wRQPZfUdahb5x88.jpg'},
 {'cast_id': 34,
  'character': 'Jim Shepherd',
  'credit_id': '559356d09251415df8002cb7',
  'gender': 2,
  'id': 27110,
  'name': 'Malcolm Stewart',
  'order': 17,
  'profile_path': '/l2vgzkLR7GRr8ugjZCILA0OiliI.jpg'},
 {'cast_id': 35,
  'character': 'Martha Shepherd',
  'credit_id': '55935730925141645a0020ad',
  'gender': 0,
  'id': 53715,
  'name': 'Annabel Kershaw',
  'order': 18,
  'profile_path': '/1VqbvAohBwFhETZtDe76JXQcxKm.jpg'},
 {'cast_id': 36,
  'character': 'Gun Salesman',
  'credit_id': '5593576992514167fd000610',
  'gender': 2,
  'id': 1379424,
  'name': 'Darryl Henriques',
  'order': 19,
  'profile_path': '/7QMHooY9ewNQlE24WKAOdwW0evU.jpg'},
 {'cast_id': 37,
  'character': 'Paramedic',
  'credit_id': '559357ae92514152de002f42',
  'gender': 0,
  'id': 1235504,
  'name': 'Robyn Driscoll',
  'order': 20,
  'profile_path': None},
 {'cast_id': 50,
  'character': 'Paramedic',
  'credit_id': '5657803b925141018f00a5dc',
  'gender': 2,
  'id': 25389,
  'name': 'Peter Bryant',
  'order': 21,
  'profile_path': '/fkcx9Tnp25UC5HlI2eW3nGvumsZ.jpg'},
 {'cast_id': 39,
  'character': 'Girl',
  'credit_id': '559358e292514152de002f63',
  'gender': 0,
  'id': 1483449,
  'name': 'Sarah Gilson',
  'order': 22,
  'profile_path': None},
 {'cast_id': 40,
  'character': 'Girl',
  'credit_id': '5593590d92514152db002df3',
  'gender': 0,
  'id': 1483450,
  'name': 'Florica Vlad',
  'order': 23,
  'profile_path': None},
 {'cast_id': 41,
  'character': 'Baker',
  'credit_id': '55935946c3a36869d1001b4d',
  'gender': 0,
  'id': 1483451,
  'name': 'June Lion',
  'order': 24,
  'profile_path': None},
 {'cast_id': 42,
  'character': 'Pianist',
  'credit_id': '5593597692514167fd000644',
  'gender': 0,
  'id': 1483452,
  'name': 'Brenda Lockmuller',
  'order': 25,
  'profile_path': None}]

In [6]:
# Extracting the names of the first 5 actors in each movie
actors = []

for index, row in df.iterrows():
    five = []
    for item in literal_eval(df['cast'][index])[0:5]:
        five.append(item["name"])
    actors.append(five)

In [8]:
actors[0:5]

[['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney', 'Wallace Shawn'],
 ['Robin Williams',
  'Jonathan Hyde',
  'Kirsten Dunst',
  'Bradley Pierce',
  'Bonnie Hunt'],
 ['Walter Matthau',
  'Jack Lemmon',
  'Ann-Margret',
  'Sophia Loren',
  'Daryl Hannah'],
 ['Whitney Houston',
  'Angela Bassett',
  'Loretta Devine',
  'Lela Rochon',
  'Gregory Hines'],
 ['Steve Martin',
  'Diane Keaton',
  'Martin Short',
  'Kimberly Williams-Paisley',
  'George Newbern']]

In [9]:
len(actors)==len(df)

df['first5actors'] = actors

In [10]:
df.head()

,cast,crew,id,first5actors
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[Whitney Houston, Angela Bassett, Loretta Devi..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[Steve Martin, Diane Keaton, Martin Short, Kim..."

In [11]:
# Attach films year of release 
df2 = pd.read_csv("/Users/ishitagopal/Box/the-movies-dataset/movies_metadata.csv")

/Users/ishitagopal/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df2.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [13]:
# data types for id column were different -- wasnt merging -- converted both to str because int was giving errors
df['id'] = df['id'].astype('str')
df2['id'] = df2['id'].astype('str')

In [14]:
# Merging df and df2 on the column id 
combined = df[['id','first5actors']].merge(df2[['id','imdb_id','release_date']],on='id')

In [15]:
combined.shape

(45538, 4)

In [16]:
combined.head()

,id,first5actors,imdb_id,release_date
0,862,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",tt0114709,1995-10-30
1,8844,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",tt0113497,1995-12-15
2,15602,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",tt0113228,1995-12-22
3,31357,"[Whitney Houston, Angela Bassett, Loretta Devi...",tt0114885,1995-12-22
4,11862,"[Steve Martin, Diane Keaton, Martin Short, Kim...",tt0113041,1995-02-10

In [17]:
# read in imdb dataset with birth years
tsv_file="/Users/ishitagopal/Box/the-movies-dataset/name.basics.tsv"
imdb_csv=pd.read_table(tsv_file,sep='\t')

In [18]:
imdb_csv.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0043044,tt0050419,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0071877,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0057345,tt0054452,tt0059956,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0072562,tt0077975,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050986,tt0069467,tt0050976"

In [19]:
# Create two lists -- name of actor -- corresponding birth yr
actor_names = imdb_csv['primaryName'].tolist()
actor_birth_yrs = imdb_csv['birthYear'].tolist()

In [20]:
# example 
name = "Tom Hanks"
if name in actor_names:
    print(actor_names.index(name))
    print()

157

In [21]:
combined["first5actors"][0]

['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney', 'Wallace Shawn']

In [ ]:
combined_birthyr5 = []

for index, row in combined.iterrows():
    birthyr5 = []
    for name in row['first5actors']:
        if name in actor_names:
            birthyr5.append(actor_birth_yrs[actor_names.index(name)])
    combined_birthyr5.append(birthyr5)

In [ ]:
combined_birthyr5.head()